body {
	background: #333;
	color: #eee;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-weight: 300;
	font-size: 1.2em; 
}

* {
	outline: none;
	box-sizing: border-box;
}

label,
input,
button,
select {cursor: pointer}

input[type=text] {
	cursor: inherit;
	padding: .25em .75em;
	font-size: .9em;
	background: #000;
	color: #ddd;
	border: 1px solid #ccc;
}

input[type=range] {
	margin-bottom: 1em;
	width: 300px;
}

 input[type=radio] {
	display: none;
} 

#main {
	display: table;
	width: 100%;
}

#main > div {
	display: table-cell;
	vertical-align: top;
	padding: 0 .5em;
}

.options {
	width: 300px;
	background: #222;
	border-radius: 10px;
}

.horizontal {
	background: #555;
	width: 100%;
	min-height: 50px;
}

.vertical {
	background: #555;
	width: 250px;
	min-height: 500px;
}

.input_name {
	margin-top: 10px;
}

.val {
	width: 50px;
}